/* Sección principal */
.skills-section {
  width: 100%;
  background-color: #1e40af;
  padding: 1rem;
}

/* Altura de la sección para pantallas grandes */
@media (min-width: 1024px) {
  .skills-section {
    height: 100vh;
  }
}

/* Contenedor de la sección */
.skills-section-container {
  max-width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Título */
.skills-section h2 {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
  position: relative;
  user-select: none;
}

/* Decoración debajo del título */
.skills-section h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: width 0.4s ease-in-out;
}

.skills-section h2:hover::after {
  width: 100px;
}

/* Grid para las tarjetas */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  justify-content: center;
}

/* Media query para tablets */
@media (min-width: 768px) {

  .skills-section h2 {
    font-size: 1.8rem;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {

  .skills-section h2 {
    font-size: 2.5rem;
  }

  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Estilos de las tarjetas (cards) */
.project-card {
  width: 250px; /* Ancho fijo de las tarjetas */
  height: 350px; /* Alto fijo de las tarjetas */
  margin-bottom: 20px;
  background-color: #1e3a8a; /* Azul oscuro */
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Asegurar que el contenido de la tarjeta esté bien alineado */
.card-header,
.card-content {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card-description {
  color: #bfdbfe;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
