.icons_cnt-icon {
    background-color: #fff;
    display: inline-block;
    width: 7em;
    height: 7em;
    margin: 1em auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.142);
    border: 4px solid #FFF;
}

.icons_cnt-icon img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 800px) {
    .icons_cnt-icon {
        background-color: #fff;
        display: inline-block;
        width: 7em;
        height: 7em;
        margin: 1em auto;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.142);
        border: 4px solid #FFF;
    }
    
    .icons_cnt-icon img {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}