@import '/src/assets/colors.css';

/* Sección principal de Contact */
.section-contact {
  width: 100%;
  min-height: auto; 
  background-color: var(--white);
  padding: 1rem;
}

/* Contenedor del título */
.section-contact-container_title {
  width: 100%;
  padding: 2rem 0; 
  display: flex;
  align-items: center;
}

/* Título */
.section-contact-container_title h3 {
  width: 90%;
  margin: 0 auto;
  color: var(--dark-blue);
  font-size: 1.8rem; 
  padding: 1rem;
  text-align: center; 
}

/* Contenedor del formulario */
.section-about-container_form {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Media query para tablets (a partir de 768px) */
@media (min-width: 768px) {
  .section-contact-container_title h3 {
    font-size: 2rem; 
  }

  .section-about-container_form {
    padding: 2rem;
    flex-direction: row; 
  }
}

/* Media query para pantallas grandes (a partir de 1024px) */
@media (min-width: 1024px) {
  .section-contact {
    min-height: 100vh; 
  }

  .section-contact-container_title {
    height: 20vh; 
  }

  .section-contact-container_title h3 {
    font-size: 2.5rem; 
  }

  .section-about-container_form {
    height: 80vh; 
    padding: 3rem;
  }
}
