/* CONTENEDOR DE CARD */

/* CONTENEDOR DE CARD */

.card_cnt {
    background-color: #363636;
    width: 14em;
    height: 20em;
    margin: 0 auto;
    padding:  1em 0;
    padding-top: 0;
    border-radius: 20px;
}

.card_cnt--image {
    /* background-color: rgb(202, 202, 202); */
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.card_cnt--image img {
    width: 100%;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px 20px 0 0;

}

.card_cnt--title {
    /* background-color: rgba(40, 160, 66, 0.813); */
    width: 100%;
    height: 15%;
    padding-top: .7em;
}

.card_cnt--title h3 {
    /* background-color: antiquewhite; */
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.card_cnt--description {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 25%;
    padding-top: .6em;
}

.card_cnt--description p {
    /* background-color: rgb(18, 125, 146); */
    text-align: center;
    font-size: .8em;
}



/* 800px para adelante */
@media (min-width: 800px) {
    /* CONTENEDOR DE CARD */
    .card_cnt {
        background-color: #363636;
        width: 16.5em;
        height: auto;
        padding:  1em 0;
        padding-top: 0;
    }

    .card_cnt--image {
        /* background-color: rgb(202, 202, 202); */
        width: 100%;
        height: 12em;
        border-radius: 10px 10px 0 0;
    }

    .card_cnt--image img {
        width: 100%;
        /* height: 100%; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 20px 20px 0 0;

    }

    .card_cnt--title {
        /* background-color: rgba(40, 160, 66, 0.813); */
        width: 100%;
        height: 2em;
        padding-top: .5em;
    }

    .card_cnt--title h3 {
        /* background-color: antiquewhite; */
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
    }

    .card_cnt--description {
        /* background-color: antiquewhite; */
        width: 100%;
        height: 5em;
        padding-top: .6em;
    }

    .card_cnt--description p {
        /* background-color: rgb(18, 125, 146); */
        text-align: center;
        font-size: 1.1em;
    }
}