.navbar_container {
    width: 100%;
    height: 4rem;
    z-index: 1;
    position: fixed;
    background-color: var(--navbar);
}

.navbar_container .navbar_container_list {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    /* background-color: azure; */
}

.navbar_container .navbar_container_list .navbar_container_list-item {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;

    background-color: rgba(255, 255, 255, 0.574);
}

.navbar_container .navbar_container_list .navbar_container_list-item:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;

    opacity: 0.6;

}


.navbar_container .navbar_container_list .navbar_container_list-item a {
    text-decoration: none;
    color: black;
}