@import '/src/assets/colors.css';

.section-intro {
    width: 100%;
    height: 100vh;
    background-color: var(--light-blue);
    display: flex;
    
}

.section-intro_image-container {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    /* background-color: wheat; */
}

.section-intro_image-container--image {
    width: 70%;
    border: 5px solid var(--white);
    border-radius: 10%;
    box-shadow: 4px 4px 18px 18px var(--dark-blue);
}

.section-intro_title-container {
    width: 65%;
    height: 100%;
    /* background-color: var(--dark-blue); */
}

.section-intro_title-container--title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: wheat; */
}

.section-intro_title-container--title h1 {
    width: 100%;
    color: var(--white);
    font-size: 5.5rem;
    text-align: center;
    user-select: none;

    /* background-color: yellowgreen; */
    
}

.section-intro_title-container--title h3 {
    width: 100%;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
    user-select: none;
    margin: 2rem 0;
    /* background-color: yellowgreen; */
}