.section-project {
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
}

.section-project-container_title {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}

.section-project-container_title h3 {
    width: 90%;
    margin: 0 auto;
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem;
    /* background-color: brown; */
}

.section-project-container_cards {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
}