
/* CONTENEDOR GENERAL */
.project-cnt {
    background-color: #495b80b2;
    width: 100%;
    height: 100vh;
    padding-top: 1em;
}

/* CONTENEDOR PARA EL TITULO */
.project-cnt_title {
    /* background-color: rgb(103, 150, 126); */
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2.5em 0;
}

/* ESTILOS PARA EL TITULO */
.project-cnt_title h3 {
    font-size: 2.2em;
    text-align: center;
}

/* CONTENEDOR PARA EL CARRUSEL */
.project-cnt_carrousel {
    /* background-color: rgba(255, 255, 255, 0.48); */
    width: 90%;
    height: 68vh;
    margin: 0 auto;
    padding-top: 5em;
}

/* 800px para adelante */
@media (min-width: 800px) {
    /* CONTENEDOR GENERAL */
    .project-cnt {
        width: 100%;
        height: 100vh;
        padding-top: 1em;
    }

        .project-cnt_title {
            /* background-color: rgb(103, 150, 126); */
            width: 90%;
            height: auto;
            margin: 3em auto;
            padding: 2.5em 0;
        }

        /* CONTENEDOR PARA EL CARRUSEL */
        .project-cnt_carrousel {
            /* background-color: rgba(255, 255, 255, 0.48); */

            width: 90%;
            height: 68vh;
            margin: 0 auto;
            padding-top: 5em;
        }
}